<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
{% set setting = 'setting' | thData() %}
<meta charset="utf-8"/>
<title>{% block title %}Admin | Dashboard{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

{% block stylesheets %}
    {% block globalStyles %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {% block pagePluginStyles %}{% endblock %}

    {% block pageStyles %}
        <link href="/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {% block themeStyles %}
        {{ 'adHome.min.css' | cssCompress([
            '/assets/global/css/components.css',
            '/assets/global/css/plugins.css',
            '/assets/admin/layout/css/layout.css',
            '/assets/admin/layout/css/themes/default.css',
            '/assets/admin/layout/css/custom.css'
        ]) | raw }}
    {% endblock %}
{% endblock %}

    <link rel="shortcut icon" href="favicon.ico"/>
</head>

{% block body %}
    <body class="page-header-fixed page-quick-sidebar-over-content">
    {% block mainBody %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% block corePlugins %}
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="/assets/global/plugins/respond.min.js"></script>
        <script src="/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
        <script src="/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
        <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        {{ 'adHome-global.min.js' | jsCompress([
            '/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js',
            '/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js',
            '/assets/global/plugins/jquery.blockui.min.js',
            '/assets/global/plugins/jquery.cokie.min.js',
            '/assets/global/plugins/uniform/jquery.uniform.min.js',
            '/assets/global/printshop/plugins/jquery.form.js',
            '/assets/global/plugins/jquery-validation/js/jquery.validate.min.js',
            '/assets/global/plugins/bootbox/bootbox.min.js'
        ]) | raw }}
    {% endblock %}

    {% block pagePlugins %}
        {{ 'adHome-plugin.min.js' | jsCompress([
            '/assets/global/plugins/flot/jquery.flot.min.js',
            '/assets/global/plugins/flot/jquery.flot.categories.min.js'
        ]) | raw }}
    {% endblock %}

    {% block pageScripts %}
        {{ 'adHome-script.min.js' | jsCompress([
            '/assets/global/scripts/metronic.js',
            '/assets/admin/layout/scripts/layout.js',
            '/assets/admin/layout/scripts/quick-sidebar.js',
            '/assets/admin/pages/scripts/index.js',
            '/assets/admin/printshop/main.js'
        ]) | raw }}
    {% endblock %}
    {% block initScripts %}{% endblock %}
{% endblock %}
</body>
</html>