ul.menu-style-one {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
ul.menu-style-one a {
  display: block;
  width: 8em;
  color: white;
  background-color: #000099;
  text-decoration: none;
  text-align: center;
}
ul.menu-style-one a:hover {
  background-color: #6666AA;
}
ul.menu-style-one li {
  float: left;
  margin-right: 0.5em;
}
