{% if data | default(false) %}
<div class="product-page">
    <div class="row-fluid">
        <div class="col-md-4 col-sm-6">
            <div class="product-main-image">
                <img src="http://placehold.it/250x350" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="http://placehold.it/200x350">
            </div>
        </div>
        <div class="col-md-8 col-sm-6">
            <h1>{{ data.name }}</h1>
            <div class="price-availability-block clearfix">
                <div class="price">
                    Price: <em>{{ data.price }}</em>
                </div>
                <div class="availability">
                    Availability: <strong>In Stock</strong>
                </div>
            </div>
            <div class="description">
                <p>{{ data.description }}</p>
            </div>
            <div class="product-page-options">
                <div class="pull-left">
                    <label class="control-label">Size:</label>
                    <select class="form-control input-sm">
                        <option>L</option>
                        <option>M</option>
                        <option>XL</option>
                    </select>
                </div>
                <div class="pull-left">
                    <label class="control-label">Color:</label>
                    <select class="form-control input-sm">
                        <option>Red</option>
                        <option>Blue</option>
                        <option>Black</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="review">
                <br>
                <a href="#">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Write a review</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="product-page-content col-md-12" style="margin-top: 30px">
            <ul id="myTab" class="nav nav-tabs">
                <li><a href="#Description" data-toggle="tab">Description</a></li>
                <li><a href="#Information" data-toggle="tab">Information</a></li>
                <li class="active"><a href="#Reviews" data-toggle="tab">Reviews (2)</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade" id="Description">
                    <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod laoreet dolore magna aliquarm erat sit volutpat Nostrud duis molestie at dolore. </p>
                </div>
                <div class="tab-pane fade" id="Information">
                    <table class="datasheet">
                        <tr>
                            <th colspan="2">Additional features</th>
                        </tr>
                        <tr>
                            <td class="datasheet-features-type">Value 1</td>
                            <td>21 cm</td>
                        </tr>
                        <tr>
                            <td class="datasheet-features-type">Value 2</td>
                            <td>700 gr.</td>
                        </tr>
                        <tr>
                            <td class="datasheet-features-type">Value 3</td>
                            <td>10 person</td>
                        </tr>
                        <tr>
                            <td class="datasheet-features-type">Value 4</td>
                            <td>14 cm</td>
                        </tr>
                        <tr>
                            <td class="datasheet-features-type">Value 5</td>
                            <td>plastic</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade in active" id="Reviews">
                    <!--<p>There are no reviews for this product.</p>-->
                    <div class="review-item clearfix">
                        <div class="review-item-submitted">
                            <strong>Bob</strong>
                            <em>30/12/2013 - 07:37</em>
                            <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="review-item-content">
                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                        </div>
                    </div>
                    <div class="review-item clearfix">
                        <div class="review-item-submitted">
                            <strong>Mary</strong>
                            <em>13/12/2013 - 17:49</em>
                            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
                        <div class="review-item-content">
                            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                        </div>
                    </div>

                    <!-- BEGIN FORM-->
                    <form action="#" class="reviews-form" role="form">
                        <h2>Write a review</h2>
                        <div class="form-group">
                            <label for="name">Name <span class="require">*</span></label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="review">Review <span class="require">*</span></label>
                            <textarea class="form-control" rows="8" id="review"></textarea>
                        </div>
                        <div class="padding-top-20">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}