{% extends '../../index.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block description %}{{ product.description }}{% endblock %}

{% block styleSheets %}
    {% parent %}
    {{ 'product-view.min.css' | cssCompress([
        '/assets/global/plugins/fancybox/source/jquery.fancybox.css',
        '/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css',
        '/assets/global/plugins/uniform/css/uniform.default.css',
        'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css',
        '/assets/global/plugins/rateit/src/rateit.css'
    ]) | raw }}
{% endblock %}

{% block body %}
<body class="ecommerce">

<div class="main">
<div class="container">
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="">Store</a></li>
    <li class="active">{{ product.name }}</li>
</ul>
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
<!-- BEGIN SIDEBAR -->
<div class="sidebar col-md-3 col-sm-5">
    {% include './catalog.html' %}

    <div class="sidebar-products clearfix">
        {% if bestSellers | length | default(false) %}
            <h2>Bestsellers</h2>
            {% for product in bestSellers %}
                <div class="item">
                    <a href="{{ 'product_view' | url({'alias': product.alias}) }}"><img src="http://placehold.it/32x32" alt="{{ product.name }}"></a>
                    <h3><a href="{{ 'product_view' | url({'alias': product.alias}) }}">{{ product.name | truncate(30) }}</a></h3>
                    <div class="price">{{ product.price | price}}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- END SIDEBAR -->

<!-- BEGIN CONTENT -->
<div class="col-md-9 col-sm-7">
    <div class="product-page">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="product-main-image">
                    <img src="http://placehold.it/200x300" alt="{{ product.name }}" class="img-responsive" data-BigImgsrc="http://placehold.it/200x300">
                </div>
                <div class="product-other-images">
                    <a href="http://placehold.it/64x64" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="http://placehold.it/64x64"></a>
                    <a href="http://placehold.it/64x64" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="http://placehold.it/64x64"></a>
                    <a href="http://placehold.it/64x64" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="http://placehold.it/64x64"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h1>{{ product.name }}</h1>
                <div class="price-availability-block clearfix">
                    <div class="price">
                        <strong>{{ product.price | price}}</strong>
                    </div>
                    <div class="availability">
                        Availability: <strong>In Stock</strong>
                    </div>
                </div>
                <div class="description">
                    <p>{{ product.description | default('') | raw }}</p>
                </div>
                <div class="product-page-options">
                    <div class="pull-left">
                        <label class="control-label">Size:</label>
                        <select class="form-control input-sm">
                            <option>L</option>
                            <option>M</option>
                            <option>XL</option>
                        </select>
                    </div>
                    <div class="pull-left">
                        <label class="control-label">Color:</label>
                        <select class="form-control input-sm">
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Black</option>
                        </select>
                    </div>
                </div>
                <div class="product-page-cart">
                    <div class="product-quantity">
                        <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">
                    </div>
                    <button class="btn btn-primary add2cart" type="submit"
                        data-product-id="{{ product.id }}"
                        data-product-alias="{{ product.alias }}"
                        data-product-name="{{ product.name }}"
                        data-product-price="{{ product.price | price(false)}}"
                        >Add to cart</button>
                </div>
                <div class="review">
                    <input type="range" value="4" step="0.25" id="backing4">
                    <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                    </div>
                    <a href="#">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Write a review</a>
                </div>
                <ul class="social-icons">
                    <li><a class="facebook" data-original-title="facebook" href="#"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="#"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="#"></a></li>
                    <li><a class="evernote" data-original-title="evernote" href="#"></a></li>
                    <li><a class="tumblr" data-original-title="tumblr" href="#"></a></li>
                </ul>
            </div>

            <div class="product-page-content">
                <ul id="myTab" class="nav nav-tabs">
                    <li><a href="#Description" data-toggle="tab">Description</a></li>
                    <li><a href="#Information" data-toggle="tab">Information</a></li>
                    <li class="active"><a href="#Reviews" data-toggle="tab">Reviews ({{ reviews | length }})</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade" id="Description">
                        <p>{{ product.description | raw }}</p>
                    </div>
                    <div class="tab-pane fade" id="Information">
                        <table class="datasheet">
                            <tr>
                                <th colspan="2">Additional features</th>
                            </tr>
                            <tr>
                                <td class="datasheet-features-type">Value 1</td>
                                <td>21 cm</td>
                            </tr>
                            <tr>
                                <td class="datasheet-features-type">Value 2</td>
                                <td>700 gr.</td>
                            </tr>
                            <tr>
                                <td class="datasheet-features-type">Value 3</td>
                                <td>10 person</td>
                            </tr>
                            <tr>
                                <td class="datasheet-features-type">Value 4</td>
                                <td>14 cm</td>
                            </tr>
                            <tr>
                                <td class="datasheet-features-type">Value 5</td>
                                <td>plastic</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade in active" id="Reviews">
                        {% if reviews | length | default(false) %}
                            {% for review in reviews %}
                                <div class="review-item clearfix">
                                    <div class="review-item-submitted">
                                        <strong>{{ review.user.firstName }}</strong>
                                        <em>{{ review.created | date(d M Y) }}</em>
                                        <div class="rateit" data-rateit-value="{{ review.rate }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                    </div>
                                    <div class="review-item-content">
                                        <p>{{ review.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- BEGIN FORM-->
                        <form action="#" class="reviews-form" role="form">
                            <h2>Write a review</h2>
                            <div class="form-group">
                                <label for="review">Review <span class="require">*</span></label>
                                <textarea class="form-control" rows="8" id="review"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Rating</label>
                                <input type="range" value="4" step="0.25" id="backing5">
                                <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                                </div>
                            </div>
                            <div class="padding-top-20">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>

            <div class="sticker sticker-sale"></div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->

{% if similarProducts | length | default(false) %}
<!-- BEGIN SIMILAR PRODUCTS -->
<div class="row margin-bottom-40">
    <div class="col-md-12 col-sm-12">
        <h2>Similar products</h2>
        <div class="owl-carousel owl-carousel4">
            {% for product in similarProducts %}
                <div>
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="http://placehold.it/250x350" class="img-responsive" alt="{{ product.name }}">
                            <div>
                                <a href="http://placehold.it/250x350" class="btn btn-default fancybox-button">Zoom</a>
                                <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                            </div>
                        </div>
                        <h3><a href="{{ 'product_view' | url({'alias': product.alias}) }}">{{ product.name | truncate(25) }}</a></h3>
                        <div class="pi-price">{{ product.price | price }}</div>
                        <a href="#" class="btn btn-default add2cart">Add to cart</a>
                        <div class="sticker sticker-sale"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END SIMILAR PRODUCTS -->
{% endif %}
</div>
</div>

{% endblock %}

{% block scripts %}
    {{ 'product-view.min.js' | jsCompress([
        '/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js',
        '/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.js',
        '/assets/global/plugins/zoom/jquery.zoom.js',
        '/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js',
        '/assets/global/plugins/uniform/jquery.uniform.min.js',
        '/assets/global/plugins/rateit/src/jquery.rateit.js',
        '/assets/frontend/layout/scripts/layout.js'
    ]) | raw }}
{% endblock %}

